.resultCard {
  height: 10rem;
  border-radius: 15px;
}
.cardContainer{
    display: flex;
    flex-direction: row;
}

.resultImage{
    height: 10rem;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
}

.resultData{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.resultCard::hover{
    cursor:pointer;
}