.result-card {
  height: 10rem;
  border-radius: 15px;
}
.card-container{
    display: flex;
    flex-direction: row;
}

.result-image{
    height: 10rem;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
}

.result-data{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.result-card::hover{
    cursor:pointer;
}