.dashboard {
  height: 100vh;
}

.menu {
  margin: 20px;
  box-shadow: 0px 2px 26px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 26px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 26px -7px rgba(0, 0, 0, 0.75);
  width: auto;
}

.btn {
  margin: 5px;
}
