.carousel {
  height: 92vh;
  width: 100%;
  object-fit: cover;
}
.poster {
  height: 92vh;
  width: 100%;
  object-fit: cover;
}
.itemContainer {
  width: 100%;
  display: flex;
}
.captionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
