.nav {
  border-radius: 0;
  box-shadow: -3px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 4px 22px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.brand {
  font-family: "Dancing Script", cursive;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
}
